[Unit]
Description=Offsite MC instance backup to restic

[Timer]
OnCalendar=*-*-* *:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
